{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="mb-0">Home</h5>
              </div>
            </div>
            <div class="col-md-12">
              <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url "index" %}">Apps</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ Dentist active ] start -->
        <div class="col-10">
            <div class="card Recent-Users">
                <div class="card-header">
                    <h5>Dentistas activos</h5>
                </div>
                <div class="card-body px-0 py-3">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for dentist in dentists %}
                                <tr class="unread">
                                    <td>
                                        <img class="rounded-circle" style="width:40px;" 
                                            src="{% static dentist.avatar %}" alt="dentist-avatar">
                                    </td>
                                    <td>
                                        <h6 class="mb-1">{{ dentist.name }}</h6>
                                        <p class="m-0">Level: {{ dentist.level }}</p>
                                    </td>
                                    <td>
                                        <h6 class="text-muted">
                                            {% if dentist.days_until_birthday is not None %}
                                                {{ dentist.days_until_birthday }} days until birthday
                                            {% else %}
                                                No birthday data
                                            {% endif %}
                                        </h6>
                                    </td>
                                    <td>
                                        <a href="{% url 'perfil' %}" class="badge me-2 bg-primary text-white f-12">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Dentist active ] end -->

        <!-- [ Sales Section ] start -->
        <div class="row">
            <!-- [ Weekly Sales Section ] start -->
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-4">Ganancias Semanales</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                    <i class="feather icon-arrow-down text-danger f-30 m-r-10"></i>
                                    {{ incomes.weekly_income }}
                                </h3>
                                <p class="text-muted">Total de transacciones esta semana: {{ incomes.weekly_transactions }}</p>
                            </div>
                            <div class="col-3 text-end">
                                <p class="m-b-0">{{ incomes.weekly_average|floatformat:2 }}</p>
                                <p class="text-muted">Promedio por transacción</p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div 
                                class="progress-bar bg-brand-color-2" 
                                role="progressbar" 
                                style="width: {{ incomes.weekly_ratio }}%;" 
                                aria-valuenow="{{ incomes.weekly_ratio }}" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Weekly Sales Section ] end -->

            <!-- [ Monthly Sales Section ] start -->
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-4">Ganancias Mensuales</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                    <i class="feather icon-arrow-up text-success f-30 m-r-10"></i>
                                    {{ incomes.monthly_income }}
                                </h3>
                                <p class="text-muted">Total de transacciones este mes: {{ incomes.monthly_transactions }}</p>
                            </div>
                            <div class="col-3 text-end">
                                <p class="m-b-0">{{ incomes.monthly_average|floatformat:2 }}</p>
                                <p class="text-muted">Promedio por transacción</p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div 
                                class="progress-bar bg-brand-color-3" 
                                role="progressbar" 
                                style="width: {{ incomes.monthly_ratio }}%;" 
                                aria-valuenow="{{ incomes.monthly_ratio }}" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Monthly Sales Section ] end -->

            <!-- [ Yearly Sales Section ] start -->
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-4">Ganancias Anuales</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                    <i class="feather icon-arrow-up text-success f-30 m-r-10"></i>
                                    {{ incomes.yearly_income }}
                                </h3>
                                <p class="text-muted">Total de transacciones este año: {{ incomes.yearly_transactions }}</p>
                            </div>
                            <div class="col-3 text-end">
                                <p class="m-b-0">{{ incomes.yearly_average|floatformat:2 }}</p>
                                <p class="text-muted">Promedio por transacción</p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div 
                                class="progress-bar bg-brand-color-1" 
                                role="progressbar" 
                                style="width: {{ incomes.yearly_ratio }}%;" 
                                aria-valuenow="{{ incomes.yearly_ratio }}" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Yearly Sales Section ] end -->
        </div>
        <!-- [ Sales Section ] end -->

        <!-- Botones para descargar reportes -->
        <div class="row mt-4">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <a class="btn btn-success me-2">
                  <i class="feather icon-download me-1"></i> Descargar Reporte Semanal
                </a>
                <a class="btn btn-primary">
                  <i class="feather icon-download me-1"></i> Descargar Reporte Mensual
                </a>
                <a class="btn btn-primary">
                    <i class="feather icon-download me-1"></i> Ingresos
                  </a>
              </div>
            </div>
        </div>

{% endblock content %}

{% block extra_js %}

<script src="{% static "assets/js/plugins/apexcharts.min.js" %}"></script>
<script src="{% static "assets/js/plugins/jsvectormap.min.js" %}"></script>
<script src="{% static "assets/js/plugins/world.js" %}"></script>
<script src="{% static "assets/js/pages/dashboard-default.js" %}"></script>

{% endblock extra_js %}
